@import './components/Section.css';
@import './components/List.css';

body {
  margin: 0;
  
}
.Section {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-basis: 0;
}

.Section--full {
  width: 100%;
  text-align: center;
  margin: 0;
}

.Section--half {
  width: 50%;
}

.Section--new {
    position: absolute;
    display: inline-block;
    right: 50%;
    padding: 10px;
    margin-top: -10px;
    background-color: gray;
    z-index: -1;

}

.Section p {
  color: black;
}

.Section--red-text .Section__text {
  color: black;
}
