
body {
  margin: 0; 
}
.section {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 0;
}

.section__newTab {
  position: absolute;
  display:inline-block;
  right: 0;
  padding: 10px;
  margin-top: -10px;
  background-color: grey
  z-index: -1 ;
}

.section__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 100%;
  justify-content: center;
}

.section--split .section__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: space-between;
}

.section__heading {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  margin-bottom: 0;
}

h2 {
  padding-left: 15px;
}

 p {
   padding-left: 15px;
   padding-right: 15px;
   text-align: justify;
}

@media (min-width: 600px) {
  .section--split .section__content {
    box-sizing: border-box;
    width: 50%
  }
}

